.root {
	width: 330px;
	height: 50px;
	border: var(--border-radius) solid var(--grey-2);
	border-radius: var(--border-radius-button);
	padding: 12px 20px;

	font-size: 16px;
}

.root:focus-visible,
.root:active {
	outline: var(--border-radius) solid var(--grey-3);
}
