.root {
	display: grid;
	grid-template-rows: 200px auto;
}

.cover {
	display: grid;
	place-items: center;

	transition: all 0.2s;

	background-color: var(--white-2);
}

.buttonCover {
	opacity: 0;
}

.cover:hover .buttonCover {
	opacity: 1;
}

.avatar {
	position: absolute;
	top: -50px;
	left: 20px;
}

.main {
	max-width: 800px;
	padding: 0 30px;
	position: relative;

	display: grid;
	justify-self: center;

	row-gap: 30px;
	padding-top: 85px;
	padding-bottom: 30px;
}

/* should move these styles */
.email {
	color: var(--grey-3);
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 7px 22px 7px 25px;
}

.button span {
	margin-left: 13px;
}

.buttonCover span {
	margin-left: 13px;
	margin-right: 13px;
}
