.root {
	display: grid;
	grid-template-rows: 200px auto;
}

@media (max-width: 765px) {
	.root {
	}
}

.cover {
	display: grid;
	place-items: center;

	transition: all 0.2s;

	background-color: var(--white-2);
}

.avatar {
	position: absolute;
	top: -50px;
	left: 20px;
}

.main {
	max-width: 800px;
	padding: 0 30px;
	position: relative;

	display: grid;
	justify-self: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		'info . edit'
		'description description .'
		'signout .';

	row-gap: 30px;
	margin-bottom: 30px;
}

@media (max-width: 765px) {
	.main {
		grid-template-columns: 1fr;
		grid-template-areas:
			'info'
			'description'
			'signout';
	}
}

.info {
	grid-area: info;

	margin-top: 85px;
	display: grid;
	row-gap: 10px;
}

.description {
	grid-area: description;

	margin-bottom: 30px;
}
.signout {
	grid-area: signout;
}

.name {
}

.email {
	color: var(--grey-3);
}

.edit {
}

/* should move these styles into Button Component */

.button {
	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 7px 22px 7px 25px;
}

.button span {
	margin-left: 13px;
}

.buttonCover span {
	margin-left: 13px;
	margin-right: 13px;
}
