.root {
}

.input {
	width: var(--input-width);
	height: 50px;
	padding: 12px 20px;

	border: var(--border-radius) solid var(--grey-2);
	border-radius: var(--border-radius-button);

	font-size: 16px;
}

.input:focus-visible,
.input:active {
	outline: var(--border-radius) solid var(--grey-3);
}

.iconLeft,
.iconRight {
	position: absolute;
	width: 25px;
	height: 25px;

	user-select: none;
}

.iconLeft {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}

.iconRight {
	top: 25%;
	right: 20px;
	color: var(--grey-2);

	cursor: pointer;

	transition: all 0.2s;
}

.iconRight:hover {
	transform: scale(1.1);
	filter: invert(20%);
}

.red {
	border-color: red;
}

@media (max-width: 565px) {
	.input {
		width: var(--input-width-mobile);
	}
}
