.root {
	display: grid;
	min-height: 100dvh;
	grid-template-rows: 80px 1fr 72px;
}

.content {
	display: grid;
	place-items: center;

	background-color: var(--white-2);
	/* height: 100%; */
}

.root > :first-child {
	display: grid;
	min-height: 80px;
}

.root > :last-child {
	display: grid;
	min-height: 72px;
}
