.header {
	display: grid;
	grid-template-columns: auto 250px 1fr;
	min-height: 80px;
	align-items: center;

	border-bottom: var(--border-radius) solid var(--white-3);
}

@media (max-width: 565px) {
	.header {
		grid-template-columns: auto 1fr;
	}
	.motto {
		display: none;
	}
}

.logo {
	margin: 15px 20px;
}

.userGroup {
	justify-self: end;

	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}

.avatar {
	margin: 15px 29.5px 15px 20px;
}
