:root {
	--black: #000000;
	--white: #ffffff;
	--white-2: #f3f3f3;
	--white-3: #e6e6e6;
	--grey-1: #d4d4d4;
	--grey-2: #d5d5d5;
	--grey-3: #838383;

	--max-width: 1280px;
	--border-radius: 1px;
	--border-radius-button: 5px;
	--button-large-height: 50px;
	--button-medium-height: 40px;
	--button-small-height: 40px;
	--button-large-width: 340px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	/* max-width: var(--max-width); */
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: var(--font-inter);
}

body {
	color: rgb(var(--black));
	background: var(--white);
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
}

button,
input {
	font-family: var(--font-inter);
}

.text-gray {
	color: var(--grey-3);
}
